/* variables */
:root {
  --bg-color: white;
  --body-color: hsl(0, 0%, 10%);
   /* Brand Colors */
   --color-primary: #222222;
   --color-secondary: #000000;
   --color-tertiary: #ccc;
 
   /* Background Colors */
   --color-bg: #ffffff;
   --color-bg-secondary: #f7f7f7;
   --color-bg-accent: #c79191;
 
   /* Text and Border Colors */
   --color-text: #666666;
   --color-text-alt: #ffffff;
   --color-border: rgba(0, 0, 0, 0.06);
 
   /* Status Colors */
   --color-danger: #e03e3e;

  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  
  --fs-small: 1rem;
  --fs-body: 1.2rem;
  --fs-logo: 1.7rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1.5rem;

  /* Sizes */
  --site-width: 1024px;

  /* Other */
  --border-radius: 5px;
  --border-radius-sm: 2px;
}

/* General Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-base); }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bg-color);
  font-size: var(--fs-body);
  text-rendering: optimizeSpeed;
  line-height: 1.618;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

hr {
  border-color: var(--color-border); }

p {
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.credit:hover {
  text-decoration: underline;
}

/* Header */
header {
  border-top: 3px solid var(--body-color);
  width: 100%;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-size: var(--fs-logo);
  font-weight: 700;
  line-height: 1;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 0.3rem;
}
header nav a {
  text-transform: uppercase;
  padding: 0 0.5em;
}
header nav a:last-child {
  padding-right: 0;
}
header nav a:first-child {
  padding-left: 0;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  transition: 0.5s;
}



.main-gallery {
  max-width: 1100px;
  margin: 3rem auto 0 auto;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  max-width: 1100px;
  gap: 50px;
  margin: 1.5rem auto 1rem auto;
  list-style: none;
}

.grid {
  display: flex;
  gap: 2em;
}
.grid aside {
  flex-basis: 300em;
}
.grid aside img {
  height: auto;
  margin-bottom: 2em;
}
.image-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 3px;
  max-width: 1100px;
  margin: 1rem auto 3rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.image-grid .image-container {
  height: auto;
  overflow: hidden;
  border-radius: 2px;
}
.image-grid .image-container a .grid-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform-origin: 50% 50%;
  filter: brightness(99%);
  transition: filter 0.5s ease;
}
.image-grid .image-container a img:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 0px 2px #000;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.image-grid .image-container a:focus img {
  border: 3px solid #07c;
}

.featured-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.featured-img .showcase-img {
  object-fit: cover;
  /* object-fit: contain; this is best but causes letterboxing" */
  max-width: 100%;
  /* height: 90vh; */
  height: auto;
  margin: 1rem auto 1rem auto;
}
.featured-img .prev-next {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.featured-img .prev-next a {
  padding: 7px 0;
  text-decoration: none;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
  border-top: 1px solid #eee;
}
footer p {
  color: #212121;
  font-size: var(--fs-small);
}


/* 404 page styles */
.four-oh-four {
  margin: 0 auto;
  width: 100%;
  max-width: 90ch;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background: inherit;
  min-height: 100vh;
}
.four-oh-four ul {
  padding-left: 0;
}
.four-oh-four ul li {
  list-style: none;
  padding: 12px 14px;
  margin: 10px auto;
  border: 1px solid lightgray;
}

/* main */
main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 1rem;
}
main p {
  margin-bottom: 24px;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-bottom: 2rem;
}
main h1 {
  font-weight: 400;
}
main .grid-home {
  column-count: 1;
  column-gap: 0;
  overflow: hidden;
}
main .grid-home .img-home {
  margin-bottom: 1em;
  overflow: hidden;
}
main .grid-home .img-home h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
main .grid-home .img-home p {
  overflow: hidden;
}
/* end grid-home */

main .grid-thumb {
  column-count: 6;
  column-gap: 0.6em;
}
main .grid-thumb .img-thumb {
  margin-bottom: 0.6em;
}
main .grid-thumb .img-thumb p {
  overflow: hidden;
}

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-10rem);
  transition: transform 0.3s ease-in-out;
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  color: #222;
  z-index: 999;
}
.skip-link:focus {
  transform: translateY(0);
}

h1,
h2,
h3,
h4,
h5 {
  color: #212121;
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

main {
  margin: 0 auto 3rem;
  min-height: 78vh;
}

.about-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-v {
  margin-top: auto;
}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.image-description h2 {
  margin-bottom: 0.3rem;
  text-align: center;
}

.image-description p {
  font-size: var(--fs-body);
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 1em auto;
  max-width: 1100px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--body-color);
}
.page-container p {
  font-size: var(--fs-body);
}
.page-container h1 {
  margin-bottom: 2rem;
  margin-top: -0.25em;
  line-height: 1.2;
}

.gt, .lt {
  font-size: var(--fs-h1);
  font-weight: 400;
}

.gt {
  margin-left: 3px;
}

.lt svg {
  transform: rotate(180deg);
}

.lt {
  margin-right: 3px;
}

.main-container {
  margin: 3rem auto 2rem auto;
}

/* Animation */
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.no-gap {
  column-gap: 0em;
}

/* Form */
/* Buttons, forms and input */
.btn {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius-sm);
  border: 2px solid  var(--color-secondary);
  background-color: var(--color-text-alt);
  color: var(--color-primary);
  font-size: var(--fs-body);
  text-transform: uppercase;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  border: none;
  filter: brightness(90%);  
  border: 2px solid  var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
}

.btn--danger {
  background-color: var(--color-danger);
  color: var(--color-text-alt);
}

.btn--danger:hover,
.btn--danger:focus {
  border: none;
  background-color: var(--color-danger);
  color: var(--color-text-alt);
  filter: brightness(90%);
}
input, textarea {
  border: 1px solid var(--color-text); }
  input:focus, textarea:focus {
    border: 1px solid var(--color-primary); }

textarea {
  width: 100%; 
  max-width: 100%;
  min-height: 35px;
}

.btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-secondary);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 1px;
  cursor: pointer;
}
  .btn[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .btn:focus:enabled, .btn:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    outline: 0; }

textarea, select, input {
  color: var(--color-text);
  padding: 1rem 1.5rem;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 2rem;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-tertiary);
  border-radius: 4px;
  box-shadow: none;
}
  textarea:focus, select:focus, input:focus {
    border: 1px solid var(--color-primary);
    background-color: white; }

input[type="checkbox"]:focus {
  outline: 1px dotted var(--color-primary); }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; 
}




/* Media queries */
@media screen and (min-width: 768px) {
 .container {
  flex-direction: row;
  justify-content: space-between;
 }
 header nav {
  width: auto;
  margin-top: 0;
 }
 header nav a {
  padding: 0 1rem;
 }
 main {
  margin: 2rem auto;
 }
}
/* smallest phones */
@media screen and (max-width: 320px) {
  body {
    font-size: var(--fs-small);
  }
  header nav a {
    font-size: 0.75rem;
    padding: 0 0.2rem;
  }
  .image-description {
    margin: 0 auto;
  }
  .image-description h2, 
  .image-description p {
    font-size: var(--fs-small);
    margin-bottom: 0;
  }
  .gt, .lt {
    font-size: var(--fs-h2);
  }
  main {
    min-height: 68vh;
  }
}


@media screen and (max-width: 897px) {
  .grid {
    display: block;
  }
  main .grid-thumb {
    column-count: 3;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    padding: 2rem;
  }
  main {
    margin: 4rem auto;
  }
}

@media screen and (min-width: 640px) {
  main .grid-home {
    column-count: 2;
    column-gap: 1em;
  }
}

@media screen and (min-width: 860px) {
  main .grid-home {
    column-count: 3;
    column-gap: 1em;
  }
}
