<header>
    <div class="container">
        <a href="/" class="logo">Donald Teskey</a>
        <nav>
            <a href="/">work</a>
            <a href="/about">about</a>
            <a href="/">news</a>
            <a href="/books">books</a>
            <a href="/contact">contact</a>
        </nav>
    </div>
</header>