.main-gallery {
    max-width: 1100px;
    margin: 3rem auto 0 auto;
}

.ft-h1 {
    text-align: center;
    margin-bottom: 4.25rem;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    max-width: 1100px;
    gap: 50px;
    margin: 1.5rem auto 1rem auto;
    list-style: none;
}

.grid {
    display: flex;
    gap: 2em;

    aside {
        flex-basis: 300em;

        img {
            height: auto;
            margin-bottom: 2em;
        }
    }

    article p {
        font-size: 14px;
    }
}

@media screen and (max-width: 897px) {
    .grid {
        display: block;
    }
}

.image-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 3px;
    max-width: 1100px;
    margin: 1rem auto 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .image-container {
        height: auto;
        overflow: hidden;
        border-radius: 2px;

        a {
            .grid-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
                transform-origin: 50% 50%;
                filter: brightness(99%);
                transition: filter 0.5s ease;
            }

            img {
                &:hover {
                    filter: brightness(110%);
                    box-shadow: 0px 0px 0px 2px #000;
                    transform-origin: 50% 50%;
                    cursor: pointer;
                }
            }

            &:focus {
                img {
                    border: 3px solid #07c;
                }
            }
        }
    }
}