---
title: Exhibitions
eleventyNavigation:
  key: Work
  order: 2
layout: main.njk
permalink: "/work/"
meta_desc: A collection of paintings from Donald Teskey.
---

{% include "partials/home-work.njk" %}