<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %}
                {{ site.author.firstName }}
                {{ site.author.lastName }}.</p>
            <ul class="footer-links">
                <li class="footer-link">
                    <a href="{{ site.socials.facebook }}">Facebook</a>
                </li>
                <li class="footer-link">
                    <a href="{{ site.socials.twitter }}">Twitter</a>
                </li>
                <li class="footer-link">
                    <a href="{{ site.socials.instagram }}">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</footer>