<header>
    <div class="container">
        <a href="/" class="logo">Donald Teskey</a>
        <nav>
            <ul>
                <li><a href="/">about</a></li>
                <li><a href="/">work</a></li>
                <li><a href="/">books</a></li>
                <li><a href="/">contact</a></li>
            </ul>
        </nav>
    </div>
</header>