<header class="top-nav">
    <nav class="nav-main">
        <ul class="nav-list">
            <li>
                <a href="/" class="link">work</a>
            </li>
        </ul>
    </nav>
</header>